.container-about {
  color: var(--main-txt-cl);
  /* text-align: center; */
}
.title-about {
  margin-bottom: 32px;

  text-transform: uppercase;

  font-style: normal;
  font-weight: 700;
}
.about-description {
  /* margin-bottom: 16px; */
  font-style: normal;
  font-weight: 400;
}
@media screen and (max-width: 767px) {
  .about-description {
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 768px) {
  .title-about {
    margin-bottom: 30px;
  }
  .about-wrapper {
    display: flex;
    align-items: center;
    gap: 54px;
  }
  .about-description {
    font-size: 20px;
    max-width: 322px;
  }
  .about-img {
    width: 344px;
    height: 217px;
  }
}
@media screen and (min-width: 1280px) {
  .title-about {
    margin-bottom: 26px;
  }
  .about-wrapper {
    /* display: flex; */
    gap: 90px;
  }
  .about-description {
    font-size: 22px;
    max-width: 510px;
  }
  .about-img {
    width: 632px;
    height: 344px;
  }
}

