.blog-title {
  margin-bottom: 32px;
  
}

@media screen and (min-width: 768px) {
  .blog-title {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .blog-title {
    margin-bottom: 122px;
  }
}

.blog-subscription {
  margin-top: 68px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .blog-subscription {
    margin-top: 87px;
  }
}
@media screen and (min-width: 1280px) {
  .blog-subscription {
    margin-top: 103px;
  }
}
.blog-subtitle {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 18);
}

@media screen and (min-width: 768px) {
  .blog-subtitle {
    margin-bottom: 32px;
    font-size: 32px;
    line-height: calc(39 / 32);
  }
}

.blog-btn {
  font-size: 18px;
  line-height: calc(24 / 18);
  padding: 8px 39.5px;
  border-radius: 38px;
  transition: background-color var(--transition-set);
}

@media screen and (min-width: 768px) {
  .blog-btn {
    font-size: 28px;
    line-height: calc(24 / 28);
    padding: 20px 69.5px;
    border-radius: 38px;
  }
}

.slick {
  padding-bottom: 100px;
}

.slick-list {
  width: 100%;
}

.slick-item {
  margin: 0 8px;
}
@media screen and (min-width: 768px) {
  .slick-item {
    margin: 0 15.5px;
  }
}
.slick-box {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 250px; 
  height: 200px; */
  /* margin: 0 auto; */
}

.my-slick-prev,
.my-slick-next {
  position: absolute;
  bottom: -68px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  font-family: inherit;
  font-weight: 900;
  font-size: 36px;
  line-height: 1;
  border: none;
  background-color: transparent;
}

.my-slick-prev {
  left: 75px;
}

@media screen and (min-width: 768px) {
  .my-slick-prev {
    left: 250px;
  }
}

@media screen and (min-width: 1280px) {
  .my-slick-prev {
    left: 500px;
  }
}

.my-slick-next {
  right: 75px;
}
@media screen and (min-width: 768px) {
  .my-slick-next {
    right: 250px;
  }
}

@media screen and (min-width: 1280px) {
  .my-slick-next {
    right: 500px;
  }
}
.slick-icon-next {
  transform: rotateY(180deg);
}