.container-contact-us_thank {
  color: red;
  text-align: center;
}

.contact-backdrop {
  position: fixed;
  z-index: 10;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  background-color: var(--backdrop-gb-cl);
  transition: opacity var(--trans-set), visibility var(--trans-set);
}
