.contact-backdrop {
  position: fixed;
  z-index: 10;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  background-color: var(--backdrop-bgc);
  transition: opacity var(--trans-set), visibility var(--trans-set);
}
.contact-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: var(--main-bgc-page);
  width: 272px;
  height: 357px;

  padding: 28px 16px;
}

.contact-btn-close {
  position: absolute;
  top: 19px;
  right: 19px;
  padding: 0;

  border: none;
  background: transparent;
}
.contact-modal-title {
  font-weight: 600;
  font-size: 20px;
  line-height: calc(24 / 20);
  display: block;
  margin-bottom: 14px;
}
.contact-modal-description {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(15 / 12);
  /* display: block; */
  margin-bottom: 38px;
  color: var(--modal-txt-cl);
}

.contact-field-wrapper {
  display: flex;
  flex-direction: column;
  gap: 34px;
  margin-bottom: 24px;
}

.contact-btn {
  font-weight: 600;
  font-size: 14px;
  line-height: calc(17 / 14);

  width: 100%;
  border-radius: 8px;
  padding: 10px 0;
}

@media screen and (min-width: 768px) {
  .contact-modal {
    width: 480px;
    height: 511px;

    padding: 48px 32px;
  }
  .contact-btn-close {
    top: 28px;
    right: 28px;
  }
  .contact-modal-icon {
    width: 16px;
    height: 16px;
  }
  .contact-modal-title {
    font-size: 32px;
    line-height: calc(39 / 32);
    margin-bottom: 24px;
  }

  .contact-modal-description {
    font-size: 16px;
    line-height: calc(20 / 16);

    margin-bottom: 57px;
  }

  .contact-field-wrapper {
    gap: 49px;
    margin-bottom: 38px;
  }

  .contact-btn {
    font-size: 18px;
    line-height: calc(22 / 18);

    padding: 14px 0;
  }
}
