.container-contact-us_thank {
  color: red;
  text-align: center;
}

.contact-backdrop {
  position: fixed;
  z-index: 10;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  background-color: var(--backdrop-bgc);
  transition: opacity var(--trans-set), visibility var(--trans-set);
}
.contact-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: var(--main-bgc-page);
  width: 272px;
  height: 357px;

  padding: 28px 16px;
}

.contact-btn-close {
  position: absolute;
  top: 19px;
  right: 19px;
  padding: 0;

  border: none;
  background: transparent;
}
.contact-modal-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  display: block;
  margin-bottom: 14px;
}
.contact-modal-description {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  display: block;
  margin-bottom: 18px;
}
.contact-input-wrapper {
  position: relative;
}
.contact-modal-icon {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);

  padding: 0;
}
