.container-delivery {
  color: var(--main-txt-cl);
  text-align: center;
}
.delivery-title {
  margin-bottom: 32px;
}

.delivery-item {
  display: flex;
  gap: 56px;

  align-items: center;
}
.delivery-number {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;

  min-width: 64px;
  min-height: 64px;

  border: 1px solid;
  border-radius: 50%;

  font-weight: 500;
  font-size: 26px;
  line-height: calc(32 / 26);
}

.delivery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-direction: column;
  list-style-type: none;

  /* max-width: 1088px; */
  margin: 0 auto;
}

.delivery-description {
  font-weight: 500;
  font-size: 32px;
  line-height: calc(39 / 32);

  /* font-weight: 500;
font-size: 14px;
line-height: 17px;

color: #000000; */
}

.thumb {
  display: flex;
  justify-content: center;
}
.image-delivery {
  width: 100%;
  min-width: 320px;
  height: auto;
}
