.container-footer {
  display: flex;
  position: relative;
  padding: 72px 48px 72px 24px;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: var(--font-secondary);
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  color: var(--secondary-txt-cl);
  background-color: var(--secondary-bgc-page);
}

.ft-list-title {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(24 / 20);
}

.ft-logo {
  display: none;
  fill: var(--secondary-txt-cl);
}
@media screen and (min-width: 1280px) {  
  .ft-logo {
    display: block;
  }
}
.ft-center {
display: flex;
flex-grow: 1;
}

.ft-center-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  flex-wrap: wrap;
  width: 100%;
  max-width: 688px;
  margin: auto;
}
.ft-nav-links-section,
.ft-open-hours-section,
.ft-contacts-section {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.ft-navigation {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.ft-contacts-list,
.ft-socials-list,
.ft-socials-icon {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.ft-socials-list{
  padding-left: 40px;
}

@media screen and (max-width: 768px) {
  .ft-nav-links-section,
  .ft-open-hours-section,
  .ft-contacts-section {
    max-width: 130px;
    word-break: break-all;
  }
  .ft-list-title {
    font-size: 18px;
    line-height: calc(22 / 18);
  }
  .container-footer {
    font-size: 14px;
    line-height: calc(17 / 14);
    padding: 32px 16px;
  }
  .ft-right-side {
    position: absolute;
    right: 74px;
    bottom: 153px;
  }
  .ft-socials-list {
    flex-direction: row;
  }
  .ft-email {
    max-width: 110px;
  }
}

.ft-socials-icon {
  fill: var(--secondary-bgc-page);
  stroke: var(--secondary-txt-cl);
}
