.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  align-items: center;
}

.icon-logo,
.icon-logo-tab {
  color: var(--con-logo);
}
.header-icon-tel {
  margin-left: auto;
  color: var(--con-logo);
}
.header-icon-burger {
  color: var(--con-logo);
}

.header-btn-tel {
  margin-left: auto;
  display: block;
  background-color: transparent;
  border: none;
}

.header-btn-burger {
  display: block;
  background-color: var(--secondary-txt-cl);
  border: none;
}
.header-list {
  display: none;
}

@media screen and (max-width: 480px) {
  .icon-logo-tab {
    display: none;
  }
}
@media screen and (min-width: 480px) {
  .icon-logo {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .container-header {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .header-btn-burger {
    display: none;
  }
  .header-list {
    gap: 48px;
    margin: 0 auto;
    display: flex;
    font-size: 20px;
    line-height: calc(24 / 20);
    color: var(--main-txt-cl);
  }
  .header-btn-tel {
    margin-left: 0px;
    display: block;
    background-color: var(--secondary-txt-cl);
    border: none;
  }
}
@media screen and (min-width: 1280px) {
  .container-header {
    padding-top: 28px;
    padding-bottom: 28px;
  }
}

/* ========================== BACKDROP ========================== */

.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.modal-window {
  padding: 110px 124px 110px;
  background-color: var(--btn-bgc-default);
  position: fixed;
  top: 0px;
  display: flex;
  position: absolute;
}

.close-button {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
}

.close-button-icon {
  width: 12px;
  height: 12px;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.mobile-menu-close-btn {
  display: flex;
  position: absolute;
  top: 22px;
  right: 22px;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 50%;
}
.menu-list {
  display: flex;
  flex-direction: column;
  padding-top: 124px;
  padding-bottom: 180px;
  gap: 26px;
  font-size: 20px;
  line-height: calc(24 / 20);
  color: var(--secondary-txt-cl);
}
