.header-js {
}
.header-section {
  padding-top: 16px;
  padding-bottom: 44px;
}

.container-header {
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
}

.icon-logo,
.icon-logo-tab {
  color: var(--con-logo);
}
.header-icon-tel {
  margin-left: auto;
  color: var(--con-logo);
}
.header-icon-burger {
  color: var(--con-logo);
}

.header-btn-tel {
  padding: 0;
  margin-left: auto;
  display: block;
  background-color: transparent;
  border: none;
}

.header-btn-burger {
  margin-left: 14px;
  padding: 0;
  display: block;
  background-color: var(--secondary-txt-cl);
  border: none;
}
.header-list {
  display: none;
}

@media screen and (max-width: 768px) {
  .icon-logo-tab {
    display: none;
  }
}
@media screen and (min-width: 767px) {
  .icon-logo {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header-section {
    padding-top: 24px;
    padding-bottom: 38px;
  }
  .container-header {
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-items: center;
  }

  .header-btn-burger {
    display: none;
  }
  .header-list {
    gap: 24px;
    margin-left: 80px;
    display: flex;
    font-size: 20px;
    line-height: calc(24 / 20);
    color: var(--main-txt-cl);
  }
  .header-icon-tel {
    width: 22px;
    height: 22px;
  }
  .header-btn-tel {
    margin-left: 75px;
    display: block;
    background-color: var(--secondary-txt-cl);
    border: none;
  }
}
@media screen and (min-width: 1280px) {
  .header-list {
    gap: 48px;
    margin-left: 261px;
  }
  .header-section {
    padding-top: 28px;
    padding-bottom: 64px;
  }
  .header-icon-tel {
    width: 28px;
    height: 28px;
  }
  .header-btn-tel {
    margin-left: 306px;
    display: block;
    background-color: var(--secondary-txt-cl);
    border: none;
  }
}
