.header-bg {
  background-color: var(--scroll-header-bgc);
  backdrop-filter: blur(2px);
  opacity: 0.85;
}
.header-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding-top: 16px;
  padding-bottom: 16px;

  transition: background-color var(--transition-set),
    backdrop-filter var(--transition-set);
}

.container-header {
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.icon-logo {
  display: block;
  color: var(--con-logo);
}
.icon-logo-tab {
  display: block;
  color: var(--con-logo);
}
.header-tel {
  display: block;
  margin-left: auto;
  color: var(--con-logo);
}

.header-tel {
  margin-left: 184px;
  display: block;
  background-color: transparent;
  border: none;
}

.header-btn-burger {
  margin-left: 14px;
  padding: 0;
  display: block;
  background-color: transparent;
  border: none;
}
.header-list {
  display: none;
}

@media screen and (max-width: 767px) {
  .icon-logo-tab {
    display: none;
  }
}
@media screen and (min-width: 767px) {
  .icon-logo {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header-section {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .container-header {
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
  }

  .header-btn-burger {
    display: none;
  }
  .header-list {
    gap: 24px;
    margin-left: auto;
    display: flex;
    font-size: 20px;
    line-height: calc(24 / 20);
    color: var(--main-txt-cl);
  }
  .header-tel {
    width: 22px;
    height: 22px;
  }
  .header-tel {
    margin-left: 75px;
    display: block;
    background-color: transparent;
    border: none;
  }
}
@media screen and (min-width: 1280px) {
  .header-list {
    gap: 48px;
    margin-left: 261px;
  }
  .header-section {
    padding-top: 28px;
    padding-bottom: 28px;
  }
  .header-tel {
    width: 28px;
    height: 28px;
  }
  .header-tel {
    margin-left: 306px;
    display: block;
    background-color: transparent;
    border: none;
  }

  .icon-logo-tab {
    animation: logo-icon 1000ms ease-out 1000ms both;
  }
  .header-iteam {
    animation: header-iteam 1000ms ease-out 1000ms both;
  }
  .header-tel {
    animation: call-phone 1000ms ease-out 1000ms both;
  }
}
@keyframes logo-icon {
  0% {
  }

  100% {
    fill: var(--main-bgc-page);
  }
}
@keyframes header-iteam {
  0% {
  }

  100% {
    color: var(--main-bgc-page);
  }
}

@keyframes call-phone {
  0% {
  }

  100% {
    fill: var(--main-bgc-page);
  }
}
