.hero {
  margin: 0 auto;
  padding-bottom: 0;
  /* margin-bottom: 100px; */
}
.hero-container {
  position: relative;
  z-index: 1;

  height: 405px;
}
.hero-box {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  margin: 0 auto;
  display: flex;
}

.hero-button {
  margin-top: 205px;
  padding: 0;
  border: 0;
  background: none;
}

.hero-title {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 400;
  font-size: 52px;
  line-height: calc(63 / 52);
}
.hero-descr {
  margin-top: 225px;

  width: 46px;
  font-weight: 400;
  margin-left: 11px;
}

.hero-wrapper {
  position: absolute;
  top: 95px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;

  height: 274px;
  width: 145px;
}

@media screen and (min-width: 768px) {
  .hero-container {
    height: 849px;
  }
  .hero-title {
    font-size: 120px;
    line-height: 146px;
  }
  .hero-button {
    margin-top: 381px;
  }

  .hero-descr {
    margin-top: 419px;
    font-size: 24px;
    line-height: 29px;
    width: 76px;
  }
  .hero-wrapper {
    top: 119px;
    width: 390px;
    height: 636px;
  }
  .hero-icon-button {
    width: 145px;
    height: 150px;
  }
  .hero-img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 1280px) {
  .hero-wrapper {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    animation: scale-up-center 1000ms ease-out 1000ms both;
  }
  .hero-box {
    align-items: center;
    max-width: 1280px;
  }
  .hero {
    max-width: 1280px;
    height: 878px;
  }
  .hero-container {
    height: 100%;
  }
  .hero-title {
    bottom: 0;
    font-size: 160px;
    line-height: 195px;
    --shift-to-y: -355px;
    animation: move-vertical 1000ms ease-out 1000ms both;
  }
  .hero-title::after {
    content: '';
    position: absolute;
    top: 20px;
    right: 21px;

    width: 58px;
    height: 8px;
    background-color: currentColor;
  }
  .hero-descr {
    margin-top: 0;
    font-size: 32px;
    line-height: 39px;
    width: 102px;
    margin-left: 210px;

    animation: move-vertical 1000ms ease-out 1000ms both;
    --shift-from-x: 0;
    --shift-to-x: -90px;
    --shift-to-y: 200px;
  }
  .hero-button {
    margin-top: 0;
    margin-right: 145px;
    --shift-from-x: 0;
    --shift-to-x: 25px;
    --shift-to-y: 200px;
    animation: move-vertical 1000ms ease-out 1000ms both;
  }
  .hero-icon-button {
    width: 166px;
    height: 166px;
  }
  .hero-img {
    width: 1280px;
    height: 878px;
    object-fit: cover;
    object-position: center;

    transform: translate(4%, 4%);
    animation: photo-move 1000ms ease-out 1000ms both;
  }
  .btn-txt {
    transform-origin: center;
    animation: infinity-rotate 30s linear 4s infinite;
  }
  .hero-btn-arrow {
    transform-origin: center;
    transition: transform 500ms ease-out;
  }
  .hero-button:hover .btn-txt,
  .hero-button:focus .btn-txt {
    animation-play-state: paused;
  }

  .hero-button:hover .hero-btn-arrow,
  .hero-button:focus .hero-btn-arrow {
    transform: rotate(-122deg);
  }
}

@keyframes scale-up-center {
  0% {
    clip-path: inset(150px 421px 92px 421px round 226px);
  }
  50% {
    clip-path: inset(150px 345px 92px 345px round 226px);
  }
  100% {
    clip-path: inset(0 round 0);
  }
}

@keyframes move-vertical {
  from {
    transform: translateX(var(--shift-from-x, -50%))
      translateY(var(--shift-from-y, 0));
  }
  to {
    transform: translateX(var(--shift-to-x, -50%))
      translateY(var(--shift-to-y, 0));
    color: #fff;
    fill: #fff;
  }
}

@keyframes infinity-rotate {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(0);
  }
}

@keyframes photo-move {
  0% {
  }

  100% {
    transform: translate(0);
  }
}
