.modal-window {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--btn-bgc-default);
  position: fixed;
  top: 0px;
  z-index: 100;
  transform: translateX(-100%);
  padding-bottom: 56px;
  transition: transform var(--transition-set);
}
.modal-window.is-open {
  transform: translateY(0);
}

.close-button {
  padding: 0;
  position: absolute;
  top: 22px;
  right: 22px;
  border: none;
  background-color: var(--btn-bgc-default);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-button-icon {
  width: 12px;
  height: 12px;
  fill: white;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.menu-list {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 26px;
  font-size: 20px;
  line-height: calc(24 / 20);
  color: var(--secondary-txt-cl);
}
