.container-store {
  /* color: lawngreen; */
  /* text-align: center; */
}

.title-store {
  font-size: 24px;
  line-height: 1.2;
  display: flex;
  gap: 14px;
  align-items: center;
  margin-bottom: 32px;
}

.title-store::after {
  content: '';
  flex-grow: 1;
  border: 1px solid var(--secondary-bgc-page);
}

@media screen and (min-width: 768px) {
  .title-store {
    font-size: 44px;
    line-height: 1.23;
    gap: 16px;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .title-store {
    font-size: 44px;
    line-height: 1.23;
    gap: 16px;
    margin-bottom: 80px;
  }
}

.main-nav-store {
  list-style: none;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .main-nav-store {
  margin-bottom: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .main-nav-store{

  }
}

.store-img{
  width: 136px;
  height: 155px;
  display: block;
}

@media screen and (min-width: 768px) {
  .store-img {
    width: 344px;
    height: 399px;
  }
}

@media screen and (min-width: 1280px) {
  .store-img {
    width: 600px;
    height: 542px;
  }
}

.store-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.250;
  color: var(--secondary-bgc-page);
  margin-top: 12px;
  margin-bottom: 6px;
}

@media screen and (min-width: 768px) {
  .store-list {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.218;
    margin-top: 16px;
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 1280px) {
  .store-list {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.222;
    margin-bottom: 4px;
  }
}

.store-list-price {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.250;
  color: var(--secondary-bgc-page);
  opacity: 0.6;
}

@media screen and (min-width: 768px) {
  .store-list-price {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.208;
  }
}

@media screen and (min-width: 1280px) {
  .store-list-price {
    font-weight: 600;
    font-size: 28px;
    line-height: 1.214;
  }
}

.store-btn-block{
  display: flex;
  justify-content: center;
}

.btn-order-flowers {
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  line-height: calc(24 / 18);
  padding: 8px 39.5px;
  border-radius: 38px;
  color: var(--secondary-txt-cl);
  background-color: var(--btn-bgc-default);
  border: transparent;
  text-align: center;
}

.btn-order-flowers:hover {
  background-color: var(--btn-bgc-hover);
}

.btn-order-flowers:focus {
  background-color: var(--btn-bgc-focus);
}

.btn-order-flowers:disabled {
  background-color: var(--btn-bgc-disabled);
}

@media screen and (min-width: 768px) {
  .btn-order-flowers {
  font-size: 28px;
  line-height: 0.857;
  padding: 20px 69.5px;
  border-radius: 38px;
  }
}

@media screen and (min-width: 1280px) {
  .btn-order-flowers {
  font-size: 28px;
  line-height: calc(24 / 28);
  padding: 20px 69.5px;
  border-radius: 38px;
  }
}