.container-store {
  /* color: lawngreen; */
  /* text-align: center; */
}

.title-store {
  margin-bottom: 32px;
}

.title-store::after {
  content: '';
  flex-grow: 1;
  border: 1px solid var(--main-txt-cl);
}

@media screen and (min-width: 768px) {
  .title-store {
    font-size: 44px;
    line-height: 1.23;
    gap: 16px;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .title-store {
    font-size: 44px;
    line-height: 1.23;
    gap: 16px;
    margin-bottom: 80px;
  }
}

/* .nav-list {
  gap: 32px;
} */

.main-nav-store {
  /* list-style: none;
  justify-content: center; */
  margin-bottom: 32px;
  /* gap: 32px; */
}

@media screen and (min-width: 768px) {
  .main-nav-store {
    margin-bottom: 60px;
    --ident: 32px;
    row-gap: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .main-nav-store {
    row-gap: 64px;
  }
}

/* .card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--ident);
} */

/* .card-set-item {
  flex-basis: calc((100% - var(--ident) * (var(--items) - 1)) / var(--items));
  --ident: 32px;
} */

.store-img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .store-img {
    width: 344px;
    height: 399px;
  }
}

@media screen and (min-width: 1280px) {
  .store-img {
    width: 600px;
    height: 542px;
  }
}

.store-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main-txt-cl);
  margin-top: 12px;
  margin-bottom: 6px;
}

@media screen and (min-width: 768px) {
  .store-list {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.218;
    margin-top: 16px;
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 1280px) {
  .store-list {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.222;
    margin-bottom: 4px;
  }
}

.store-list-price {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  color: var(--main-txt-cl);
  opacity: 0.6;
}

@media screen and (min-width: 768px) {
  .store-list-price {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.208;
  }
}

@media screen and (min-width: 1280px) {
  .store-list-price {
    font-weight: 600;
    font-size: 28px;
    line-height: 1.214;
  }
}

.store-btn-block {
  display: flex;
  justify-content: center;
}

.btn-order-flowers {
  font-size: 20px;
  line-height: calc(24 / 20);
  padding: 10px 35px;
  border-radius: 38px;
}

.btn-order-flowers:hover {
  background-color: var(--btn-bgc-hover);
}

.btn-order-flowers:focus {
  background-color: var(--btn-bgc-focus);
}

.btn-order-flowers:disabled {
  background-color: var(--btn-bgc-disabled);
}

@media screen and (min-width: 768px) {
  .btn-order-flowers {
    font-size: 28px;
    line-height: calc(24 / 28);
    padding: 20px 43.5px;
    border-radius: 38px;
  }
}

@media screen and (min-width: 1280px) {
  .btn-order-flowers {
    font-size: 28px;
    line-height: calc(24 / 28);
    padding: 20px 43.5px;
    border-radius: 38px;
  }
}
