.contact-modal.thank-you {
  padding: 44px 16px 32px 16px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.thank-you-img-wrapper {
  padding-bottom: 16px;
}
.thank-you-title {
  font-weight: 600;
  font-size: 20px;
  line-height: calc(24 / 20);
  text-align: center;
  padding-bottom: 14px;
}
.thank-you-description {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(15 / 12);
  text-align: center;
  padding-bottom: 18px;
  color: var(--modal-txt-cl);
}

@media screen and (min-width: 768px) {
  .contact-modal.thank-you {
    padding: 54px 32px;
    height: 505px;
  }

  .thank-you-img {
    width: 266px;
    height: 202px;
  }
  .thank-you-title {
    font-size: 32px;
    line-height: calc(39 / 32);

    padding-bottom: 16px;
  }
  .thank-you-description {
    font-size: 16px;
    line-height: calc(20 / 16);

    padding-bottom: 34px;
  }
}
