<section class="section">
  <div class="container container-about">
    <h2 class="title title-about">About</h2>
    <div class="about-wrapper">
      <p class="about-description">
        We are a minimalistic flower studio. We love people and flowers.
        Therefore, every day we give people the beauty and joy creating stylish
        and modern masterpieces. Every bouquet we create is unique as you are.
      </p>
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="
            ../img/about/image_about-des-1x.png 1x, 
            ../img/about/image_about-des-2x.png 2x
          "
        >
        <source
          media="(min-width: 768px)"
          srcset="
            ../img/about/image_about-tab-1x.png 1x, 
            ../img/about/image_about-tab-2x.png 2x
          "
        >
        <source
          media="(max-width: 767px)"
          srcset="
            ../img/about/image_about-mob-1x.png 1x, 
            ../img/about/image_about-mob-2x.png 2x
          "
        >
        <img 
          class="about-img"
          src="../img/about/image_about-mob-1x.png" 
          alt="picture of flowers"
          width="288"
          height="178"
          loading="lazy"
        >
      </picture>
    </div>
  </div>
</section>
