<section class="blog section">
  <div class="container container-blog">
    <h2 class="blog-title title">BLOG</h2>
    <div class="blog-slider responsive">
      <div class="slick-item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/blog/blog-01-desk-1x.jpg 1x,
              ./img/blog/blog-01-desk-2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/blog/blog-01-tab-1x.jpg 1x,
              ./img/blog/blog-01-tab-2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/blog/blog-01-mob-1x.jpg 1x,
              ./img/blog/blog-01-mob-2x.jpg 2x
            "
          />
          <img src="./img/blog/blog-01-desk-1x.jpg" alt="" class="slick-box" />
        </picture>
      </div>
      <div class="slick-item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/blog/blog-02-desk-1x.jpg 1x,
              ./img/blog/blog-02-desk-2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/blog/blog-02-tab-1x.jpg 1x,
              ./img/blog/blog-02-tab-2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/blog/blog-02-mob-1x.jpg 1x,
              ./img/blog/blog-02-mob-2x.jpg 2x
            "
          />
          <img src="./img/blog/blog-02-desk-1x.jpg" alt="" class="slick-box" />
        </picture>
      </div>
      <div class="slick-item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/blog/blog-03-desk-1x.jpg 1x,
              ./img/blog/blog-03-desk-2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/blog/blog-03-tab-1x.jpg 1x,
              ./img/blog/blog-03-tab-2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/blog/blog-03-mob-1x.jpg 1x,
              ./img/blog/blog-03-mob-2x.jpg 2x
            "
          />
          <img src="./img/blog/blog-03-desk-1x.jpg" alt="" class="slick-box" />
        </picture>
      </div>
      <div class="slick-item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/blog/blog-04-desk-1x.jpg 1x,
              ./img/blog/blog-04-desk-2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/blog/blog-04-tab-1x.jpg 1x,
              ./img/blog/blog-04-tab-2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/blog/blog-04-mob-1x.jpg 1x,
              ./img/blog/blog-04-mob-2x.jpg 2x
            "
          />
          <img src="./img/blog/blog-04-desk-1x.jpg" alt="" class="slick-box" />
        </picture>
      </div>
      <div class="slick-item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/blog/blog-05-desk-1x.jpg 1x,
              ./img/blog/blog-05-desk-2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/blog/blog-05-tab-1x.jpg 1x,
              ./img/blog/blog-05-tab-2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/blog/blog-05-mob-1x.jpg 1x,
              ./img/blog/blog-05-mob-2x.jpg 2x
            "
          />
          <img src="./img/blog/blog-05-desk-1x.jpg" alt="" class="slick-box" />
        </picture>
      </div>
      <div class="slick-item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/blog/blog-06-desk-1x.jpg 1x,
              ./img/blog/blog-06-desk-2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/blog/blog-06-tab-1x.jpg 1x,
              ./img/blog/blog-06-tab-2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/blog/blog-06-mob-1x.jpg 1x,
              ./img/blog/blog-06-mob-2x.jpg 2x
            "
          />
          <img src="./img/blog/blog-06-desk-1x.jpg" alt="" class="slick-box" />
        </picture>
      </div>
    </div>
    <div class="blog-subscription">
      <h3 class="blog-subtitle">Follow to our newsletter</h3>
      <button type="button" class="btn blog-btn" data-modal-open>
        Subscribe
      </button>
    </div>
  </div>
</section>
