<section class="section">
  <div class="container container-delivery">
    <h2 class="title">Delivery</h2>

    <ul class="delivery-list">
      <li class="delivery-item">
        <span class="delivery-number">1</span
        ><span class="delivery-description"
          >Choose your bouquet and make an order on website</span
        >
      </li>
      <li class="delivery-item">
        <span class="delivery-number">2</span>
        <span class="delivery-description"
          >Wait for the call to clarify the details of the order. You can pay
          online or to the courier</span
        >
      </li>
      <li class="delivery-item">
        <span class="delivery-number">3</span>
        <span class="delivery-description"
          >Wait for the delivery at the selected time or pick up the order from
          the store
        </span>
      </li>
      <li class="delivery-item">
        <span class="delivery-number">4</span>
        <span class="delivery-description"
          >Make someone happy or enjoy yourself</span
        >
      </li>
    </ul>
  </div>
</section>
