<section class="section">
  <div class="container container-delivery">
    <h2 class="delivery-title title">Delivery</h2>
    <ul class="delivery-list">
      <li class="delivery-item">
        <span class="delivery-number">1</span
        ><span class="delivery-description"
          >Choose your bouquet and make an order on website</span
        >
      </li>
      <li class="delivery-item">
        <span class="delivery-number">2</span>
        <span class="delivery-description"
          >Wait for the call to clarify the details of the order. You can pay
          online or to the courier</span
        >
      </li>
      <li class="delivery-item">
        <span class="delivery-number">3</span>
        <span class="delivery-description"
          >Wait for the delivery at the selected time or pick up the order from
          the store
        </span>
      </li>
      <li class="delivery-item">
        <span class="delivery-number">4</span>
        <span class="delivery-description"
          >Make someone happy or enjoy yourself</span
        >
      </li>
    </ul>
  </div>
  <div class="container container-delivery-photo">
    <picture>
      <source
        media="(min-width: 1280px)"
        srcset="
          ./img/delivery/image-delivery-des-1x.jpg 1x,
          ./img/delivery/image-delivery-des-2x.jpg 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./img/delivery/image-delivery-tab-1x.jpg 1x,
          ./img/delivery/image-delivery-tab-2x.jpg 2x
        "
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ./img/delivery/image-delivery-mob-1x.jpg 1x,
          ./img/delivery/image-delivery-mob-2x.jpg 2x
        "
      />
      <img
        src="./img/delivery/image-delivery-des-1x.jpg"
        alt="image-delivery"
        class="image-delivery"
        loading="lazy"
        width="320"
        height="135"
      />
    </picture>
  </div>
</section>
