<footer class="section">
  <div class="container container-footer">
    <div class="ft-left">
      <a class="ft-logo" href="./hero.html" rel="noopener noreferrer" aria-label="header"><svg
          class="ft-logo-icon" width="73" height="57">
          <use href="./img/icons.svg#icon-logo"></use>
        </svg></a>
      </a>
    </div>
    <div class="ft-center">
      <ul class="ft-center-list ">
        <li class="ft-nav-links-section">
          <h3 class="ft-list-title">Navigation</h3>
          <ul class="ft-navigation">
            <li class="ft-link-item"><a href="./header.html">Anemone</a></li>
            <li class="ft-link-item"><a href="./about.html">About us</a></li>
            <li class="ft-link-item"><a href="./store.html">Store</a></li>
            <li class="ft-link-item"><a href="./delivery.html">Delivery</a></li>
          </ul>
        </li>
        <li class="ft-open-hours-section">
          <h3 class="ft-list-title">Opening times</h3>
          <p>Every day <br>9:00 - 22:00</p>
        </li>
        <li class="ft-contacts-section">
          <h3 class="ft-list-title">Contacts</h3>
          <ul class="ft-contacts-list">
            <li class="ft-link-item"><a href="tel:+380631234567" class="link">+38 063 123 45 67</a></li>
            <li class="ft-link-item ft-email"><a href="mailto:anemonestudio@example.com"
                class="link">anemonestudio@example.com</a></li>
            <li class="ft-link-item"><a href="https://goo.gl/maps/mSghdmstMz4KFghHA" target="_blank"
                rel="noopener noreferrer nofollow" class="adress">Reitarska Street, 11 <br>
                Kyiv, Ukraine</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="ft-right-side">
      <ul class="ft-socials-list">
        <li class="ft-socials-item">
          <a class="ft-socials-link" href="https://fb.com" aria-label="Facebook"><svg class="ft-socials-icon" width="28"
              height="28">
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg></a>
        </li>
        <li class="ft-socials-item">
          <a class="ft-socials-link" href="https://instagram.com" rel="noopener noreferrer" aria-label="Instagram"><svg
              class="ft-socials-icon" width="28" height="28">
              <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>