<header>
  <div class="container container-header">
    <svg class="icon-logo" width="45px" height="35px">
      <use href="../img/header/icon.svg#icon-Logo"></use>
    </svg>
    <svg class="icon-logo-tab" width="72px" height="57px">
      <use href="../img/header/icon.svg#icon-Logo"></use>
    </svg>

    <ul class="header-list">
      <li class="header-iteam">
        <a href="">Anemone</a>
      </li>
      <li class="header-iteam">
        <a href="">About us</a>
      </li>
      <li class="header-iteam">
        <a href="">Store</a>
      </li>
      <li class="header-iteam">
        <a href="">Delivery</a>
      </li>
      <li class="header-iteam">
        <a href="">Blog</a>
      </li>
    </ul>

    <button class="header-btn-tel" type="button">
      <svg class="header-icon-tel" width="22px" height="22px">
        <use href="../img/header/icon.svg#icon-tel"></use>
      </svg>
    </button>
    <button class="header-btn-burger" type="button">
      <svg class="header-icon-burger" width="24px" height="24px">
        <use href="../img/header/icon.svg#icon-Burger"></use>
      </svg>
    </button>
  </div>
</header>
