<header>
  <div class="container container-header">
    <svg class="icon-logo" width="45px" height="35px">
      <use href="../img/header/icon.svg#icon-Logo"></use>
    </svg>

    <ul class="header-list">
      <li class="header-iteam">
        <a href="">Anemone</a>
      </li>
      <li class="header-iteam">
        <a href="">About us</a>
      </li>
      <li class="header-iteam">
        <a href="">Store</a>
      </li>
      <li class="header-iteam">
        <a href="">Delivery</a>
      </li>
      <li class="header-iteam">
        <a href="">Blog</a>
      </li>
    </ul>

    <button class="but-tel" type="button">
      <svg class="icon-tel" width="22px" height="22px">
        <use href="../img/header/icon.svg#icon-tel"></use>
      </svg>
    </button>
    <button class="but-burger" type="button">
      <svg class="icon-burger" width="24px" height="24px">
        <use href="../img/header/icon.svg#icon-Burger"></use>
      </svg>
    </button>
  </div>
  <!-- menu -->

  <div class="menu-header">
    <button class="but-menu" type="button">
      <svg class="menu-close" width="24px" height="24px">
        <use class="icon-close" href="../img/header/icon.svg#icon-x"></use>
      </svg>
    </button>
    <ul class="menu-list">
      <li class="menu-mobile-item">
        <a class="menu-mob-link" href="">Anemone </a>
      </li>
      <li>
        <a href="">About us</a>
      </li>
      <li>
        <a href="">Store</a>
      </li>
      <li>
        <a href="">Delivery</a>
      </li>
      <li>
        <a href="">Blog</a>
      </li>
    </ul>
  </div>
</header>
