<div class="modal-window js-menu-container">
  <button class="close-button js-close-menu" data-modal-close>
    <svg class="close-button-icon">
      <use href="./img/icons.svg#icon-close-black"></use>
    </svg>
  </button>
  <div class="mobile-menu-box">
    <ul class="menu-list">
      <li class="menu-mobile-item">
        <a class="menu-mob-link" href="">Anemone </a>
      </li>
      <li>
        <a href="">About us</a>
      </li>
      <li>
        <a href="">Store</a>
      </li>
      <li>
        <a href="">Delivery</a>
      </li>
      <li>
        <a href="">Blog</a>
      </li>
    </ul>
  </div>
</div>
