<div class="modal-window js-menu-container">
  <button class="close-button js-close-menu" data-modal-close>
    <svg class="close-button-icon">
      <use href="./img/icons.svg#icon-close-black"></use>
    </svg>
  </button>
  <div class="mobile-menu-box">
    <ul class="menu-list">
      <li class="menu-mobile-item">
        <a class="menu-mob-link js-close-menu-Anemone" href="">Anemone </a>
      </li>
      <li>
        <a class="js-close-menu-About" href="#about">About us</a>
      </li>
      <li>
        <a class="js-close-menu-Store" href="#store">Store</a>
      </li>
      <li>
        <a class="js-close-menu-Delivery" href="#delivery">Delivery</a>
      </li>
      <li>
        <a class="js-close-menu-Blog" href="#blog">Blog</a>
      </li>
    </ul>
  </div>
</div>
