<section class="section">
  <div class="container container-store">
    <h2 class="title title-store" id="store">STORE</h2>
    <ul class="main-nav-store nav-list card-set gallery">
      <li class="items-set card-set-item">
        <a href="/img/store/store-04-des-2x.jpg">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/store/store-04-des-1x.jpg 1x,
                ./img/store/store-04-des-2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/store/store-04-tab-1x.jpg 1x,
                ./img/store/store-04-tab-2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/store/store-04-mob-1x.jpg 1x,
                ./img/store/store-04-mob-2x.jpg 2x
              "
            />
            <img
              class="store-img"
              src="./img/store/store-04-mob-1x.jpg"
              alt="Photo compliments"
              loading="lazy"
              width="136"
              height="155"
            />
          </picture>
        </a>
        <h3 class="store-list">compliments</h3>
        <p class="store-list-price">from $15</p>
      </li>

      <li class="items-set card-set-item">
        <a href="/img/store/store-03-des-2x.jpg">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/store/store-03-des-1x.jpg 1x,
                ./img/store/store-03-des-2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/store/store-03-tab-1x.jpg 1x,
                ./img/store/store-03-tab-2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/store/store-03-mob-1x.jpg 1x,
                ./img/store/store-03-mob-2x.jpg 2x
              "
            />
            <img
              class="store-img"
              src="./img/store/store-03-mob-1x.jpg"
              alt="Photo bouquets size S"
              loading="lazy"
              width="136"
              height="155"
            />
          </picture>
        </a>
        <h3 class="store-list">bouquets size S</h3>
        <p class="store-list-price">from $25</p>
      </li>

      <li class="items-set card-set-item">
        <a href="/img/store/store-02-des-2x.jpg">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/store/store-02-des-1x.jpg 1x,
                ./img/store/store-02-des-2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/store/store-02-tab-1x.jpg 1x,
                ./img/store/store-02-tab-2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/store/store-02-mob-1x.jpg 1x,
                ./img/store/store-02-mob-2x.jpg 2x
              "
            />
            <img
              class="store-img"
              src="./img/store/store-02-mob-1x.jpg"
              alt="Photo bouquets size M"
              loading="lazy"
              width="136"
              height="155"
            /> </picture
        ></a>
        <h3 class="store-list">bouquets size M</h3>
        <p class="store-list-price">from $45</p>
      </li>

      <li class="items-set card-set-item">
        <a href="/img/store/store-01-des-2x.jpg">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/store/store-01-des-1x.jpg 1x,
                ./img/store/store-01-des-2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/store/store-01-tab-1x.jpg 1x,
                ./img/store/store-01-tab-2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/store/store-01-mob-1x.jpg 1x,
                ./img/store/store-01-mob-2x.jpg 2x
              "
            />
            <img
              class="img store-img"
              src="./img/store/store-01-mob-1x.jpg"
              alt="Photo bouquets size L"
              loading="lazy"
              width="136"
              height="155"
            /> </picture
        ></a>
        <h3 class="store-list">bouquets size L</h3>
        <p class="store-list-price">from $65</p>
      </li>
    </ul>

    <div class="store-btn-block">
      <button
        class="btn btn-order-flowers contactOpen"
        type="button"
        data-modal-open
      >
        Order flowers
      </button>
    </div>
  </div>
</section>
