<section class="section">
  <div class="container container-store">

    <h2 class="title">STORE</h2>
    <ul class="main-nav-store">
      <li>
        <img src="../img/store/store-01-mob-2x.jpg" width="136" height="155" alt="store1">
        <h3 class="store-list">compliments</h3>
        <p class="store-list-price">from $15</p>
      </li>
      <li>
        <img src="../img/store/store-02-mob-2x.jpg" width="136" height="155" alt="store2">
        <h3 class="store-list">bouquets size S</h3>
        <p class="store-list-price">from $25</p>
      </li>
      <li>
        <img src="../img/store/store-03-mob-2x.jpg" width="136" height="155" alt="store3">
        <h3 class="store-list">bouquets size M</h3>
        <p class="store-list-price">from $45</p>
      </li>
      <li>
        <img src="../img/store/store-04-mob-2x.jpg" width="136" height="155" alt="store4">
        <h3 class="store-list">bouquets size L</h3>
        <p class="store-list-price">from $65</p>
      </li>
    </ul>
    <button class="btn btn-order-flowers" type="button" data-modal-open>Order flowers</button>

  
  </div>
</section>
