<div class="contact-modal thank-you modal" data-modal="2">
  <button
    type="button"
    class="contact-btn-close js-modal-close"
    data-modal-close
  >
    <svg class="contact-modal-icon" width="12" height="12">
      <use href="./img/icons.svg#icon-close-black"></use>
    </svg>
  </button>

  <picture class="thank-you-img-wrapper">
    <source
      media="(min-width: 768px)"
      srcset="
        ./img/thank-you/img-tab-des-1x.png 1x,
        ./img/thank-you/img-tab-des-2x.png 2x
      "
    />
    <source
      media="(max-width: 767px)"
      srcset="
        ./img/thank-you/img-mob-1x.png 1x,
        ./img/thank-you/img-mob-2x.png 2x
      "
    />
    <img
      class="thank-you-img"
      src="./img/thank-you/img-mob-1x.png"
      alt="Thank you for your contact"
      loading="lazy"
      width="188"
      height="142"
    />
  </picture>

  <h2 class="thank-you-title">Thank you!</h2>
  <p class="thank-you-description">
    We have received your contact details and will reach you soon.
  </p>

  <button class="btn contact-btn" type="button">Continue</button>
</div>
